
<div class="card">
  <div class="card-body">
    <h4 class="card-title text-dark fs-8 pb-2">Filtros de Búsqueda</h4>
    <hr>

<div class="row">
  <!-- <div class="col-3"> -->

    <div class="pb-2">
      <label>Por Id:</label>
      <!-- <span> -->
        <raee-search-box
        type="text"
        (onDebounce)="searchById($event)"
        placeholder="Buscar por Id"></raee-search-box>
    <!-- </span> -->
    </div>



    <div class="input-field col s12 pb-3">
      <label>Seleccione una Región:</label>
      <select id="listaRegion" (change)="searchByRegion($event.target.value)">
         <option value="{{region}}" *ngFor = "let region of regiones">{{region}}
         </option>
      </select>
    </div>

    <div class="input-field col s12 pb-3">
      <label>Seleccione un Código de Etiqueta:</label>
      <select id="listaEtiqueta" (change)="searchByEtiqueta($event.target.value)">
         <option value="{{etiqueta}}" *ngFor = "let etiqueta of etiquetas">{{etiqueta}}
         </option>
      </select>
    </div>

  </div>
  </div>


  <!-- </div> -->


</div>

<!-- <raee-list></raee-list> -->
<!-- <raee-list [raee]="raee"></raee-list> -->
<raee-list-filter [raee]="raee"></raee-list-filter>
