<h4 class="font-medium mb-3">Listado Lecturas de los RAEE</h4>
<!-- Row -->
<div class="row">
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div class="card">
      <img
        class="card-img-top img-responsive"
        src="assets/images/pics/domicilio.png"
        alt="Card image cap"
        height="200em"
      />
      <div class="card-body">
        <h4 class="card-title text-center">Domicilio</h4>
        <!-- <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
         <a href="javascript:void(0)" class="btn btn-primary">Read More</a> -->
      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div class="card">
      <img
        class="card-img-top img-responsive"
        src="assets/images/pics/recogida.png"
        alt="Card image cap"
        height="200em"
      />
      <div class="card-body">
        <h4 class="card-title text-center">Punto de Recogida</h4>
        <!-- <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="javascript:void(0)" class="btn btn-primary">Read More</a> -->
      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div class="card">
      <img
        class="card-img-top img-responsive"
        src="assets/images/pics/cac.png"
        alt="Card image cap"
        height="200em"
      />
      <div class="card-body">
        <h4 class="card-title text-center">CAC</h4>
        <!-- <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="javascript:void(0)" class="btn btn-primary">Read More</a> -->
      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->
  </div>
  <!-- column -->
  <div class="col-lg-3 col-md-6">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div class="card">
      <img
        class="card-img-top img-responsive"
        src="assets/images/pics/planta.png"
        alt="Card image cap"
        height="200em"
      />
      <div class="card-body">
        <h4 class="card-title text-center">Planta de Tratamiento</h4>
        <!-- <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p> -->
        <!-- <a href="javascript:void(0)" class="btn btn-primary">Read More</a> -->
      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->
  </div>
</div>
<!-- Row -->

