<!-- <button type="button" class="btn btn-outline-secondary"> -->
<div class="card">
  <!-- <img class="card-img-top" src="holder.js/100x180/" alt="Title"> -->
  <div class="card-body">
    <h4 class="card-title text-danger">Detalle de la Lectura</h4>
    <h6 class="card-text">RAEE: <b>{{raee.CargaDatosLecturasId}}</b> </h6>
    <h6 class="card-text">Fecha de Lectura: <b>{{raee.FechaLectura}}</b> </h6>
    <h6 class="card-text">Tipo de Lectura: <b>{{raee.Donde}}</b></h6>
    <br>
    <h4 class="card-title text-danger">Detalle del RAEE</h4>
    <h6 class="card-text">Código: <b>{{raee.CodigoEtiqueta}}</b></h6>
    <h6 class="card-text">Tipo: <b>{{raee.TipoRAEE}}</b></h6>
    <h6 class="card-text">Modelo: <b>{{raee.Modelo}}</b></h6>
    <h6 class="card-text">Peso: <b>{{raee.Peso}}</b></h6>
  </div>
</div>
<!-- </button> -->
